name: Cancel
on:
  push:
    branches-ignore:
      - 'master'
      - 'master/*'
      - 'main'
      - 'main/*'

jobs:
  cancel:
    name: Cancel Previous Runs
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.10.0
        with:
          workflow_id: all
          access_token:  ${{ secrets.GITHUB_TOKEN }}
