name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Gradle
      uses: ./.github/actions/setup-gradle

    - name: Run Tests
      uses: ./.github/actions/run-tests
